<html>
    <head>
        <title>Bienvenue chez Béné</title>
    </head>
    <body>
        <div>
            <h1><a href="">Bienvenue chez Béné</a></h1>
        </div>

        <div>
            <p>published: 04.03.2018, 17:36</p>
            <h2><a href="">Post #1</a></h2>
            <p>mon premier article !</p>
        </div>

        <div>
            <p>published: 04.03.2018, 17:38</p>
            <h2><a href="">Post #2</a></h2>
            <p>hello world :)</p>
        </div>
    </body>
</html>